@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: Arial, Helvetica, sans-serif;
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
