PORT=3001
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USER=xxxxxx_ai_data
DATABASE_PASSWORD=xxxxxx_ai_data_admin
DATABASE_NAME=ai_analysis_db

OPENAI_BASE_URL=xxxxxxxx
OPENAI_API_KEY=sk-xxxxxxxxx
OPENAI_MODEL=xxxxxxxx
